@use "@src/shared/scss/logic/function";

.container {
  color: var(--black);
  display: flex;
  align-items: flex-start;
  gap: function.vw(24, 1920);
  margin-block: function.vw(24, 1920);
  
  @media (max-width: 1440px) {
    gap: function.vw(24, 1440);
    margin-block: function.vw(24, 1440);
  }
  
  @media (max-width: 960px) {
    gap: function.vw(24, 960);
    margin-block: function.vw(24, 960);
  }

  @media (max-width: 720px) {
    flex-direction: column;
    gap: function.vw(12, 720);
    margin-block: function.vw(24, 720);
  }

  @media (max-width: 540px) {
    gap: function.vw(12, 540);
    margin-block: function.vw(24, 540);
  }
  
  @media (max-width: 420px) {
    gap: function.vw(12, 420);
    margin-block: function.vw(24, 420);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: function.vw(24, 1920);
  width: 70%;
  
  @media (max-width: 1440px) {
    gap: function.vw(24, 1440);
  }
  
  @media (max-width: 960px) {
    gap: function.vw(24, 960);
  }

  @media (max-width: 720px) {
    gap: function.vw(24, 720);
    width: 100%;
  }
  
  @media (max-width: 540px) {
    gap: function.vw(24, 540);
  }
  
  @media (max-width: 420px) {
    gap: function.vw(24, 420);
  }
}


.flex_section{
  display: flex;
  flex-direction: column;
  gap: function.vw(24, 1920);

  @media (max-width: 1440px) {
    gap: function.vw(24, 1440);
  }

  @media (max-width: 960px) {
    gap: function.vw(24, 960);
  }

  @media (max-width: 720px) {
    gap: function.vw(24, 720);
  }

  @media (max-width: 540px) {
    gap: function.vw(24, 540);
  }

  @media (max-width: 420px) {
    gap: function.vw(24, 420);
  }
}

.form{
  width: 30%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--black-t25);
  border-radius: 10px;
  gap: function.vw(8, 1920);
  margin-bottom: function.vw(16, 1920);

  @media (max-width: 1440px) {
    gap: function.vw(8, 1440);
    margin-bottom: function.vw(16, 1440);
  }

  @media (max-width: 960px) {
    gap: function.vw(8, 960);
    margin-bottom: function.vw(16, 960);
  }

  @media (max-width: 720px) {
    width: 100%;
    gap: function.vw(8, 720);
    margin-top: function.vw(16, 720);
  }

  @media (max-width: 540px) {
    gap: function.vw(8, 540);
    margin-top: function.vw(16, 540);
  }

  @media (max-width: 420px) {
    gap: function.vw(8, 420);
    margin-top: function.vw(16, 420);
  }
}

.hr{
  width: 100%;
  border-radius: 10px;
  height: 1px;
  background-color: var(--black-t15);
}
