@use "src/shared/scss/logic/function";


.swiper_container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: function.vw(20, 1920);

  @media (max-width: 1440px) {
    gap: function.vw(20, 1440);
  }

  @media (max-width: 960px) {
    flex-direction: column;
    align-items: normal;
    gap: function.vw(20, 960);
  }

  @media (max-width: 720px) {
    gap: function.vw(20, 720);
  }

  @media (max-width: 540px) {
    gap: function.vw(15, 540);
  }

  @media (max-width: 420px) {
    gap: function.vw(15, 420);
  }

  .swiper_container__column {
    display: flex;
    align-items: flex-start;
    gap: function.vw(20, 1920);

    @media (max-width: 1440px) {
      gap: function.vw(20, 1440);
    }
    
    @media (max-width: 960px) {
      gap: function.vw(20, 960)
    }
    
    @media (max-width: 720px) {
      gap: function.vw(20, 720)
    }
    
    @media (max-width: 540px) {
      gap: function.vw(15, 540);
    }
    
    @media (max-width: 420px) {
      gap: function.vw(15, 420);
    }
  }
}


.swiper {
  position: relative;
  border-radius: 10px;
  height: function.vw(435, 1920);
  width: function.vw(710, 1920);

  @media (max-width: 1440px) {
    height: function.vw(435, 1440);
    width: function.vw(710, 1440);
  }

  @media (max-width: 960px) {
    order: 1;
    height: function.vw(435, 960);
    width: 100%;
  }

  @media (max-width: 720px) {
    height: function.vw(435, 720);
  }

  @media (max-width: 540px) {
    height: function.vw(350, 540);
  }
}

.swiper_column{
  position: relative;
  border-radius: 10px;
  height: function.vw(435, 1920);
  margin-bottom: function.vw(14, 1920);
  width: 100%;
  
  @media (max-width: 1440px) {
    height: function.vw(435, 1440);
    margin-bottom: function.vw(14, 1440);
  }
  
  @media (max-width: 960px) {
    height: function.vw(435, 960);
    margin-bottom: function.vw(14, 960);
  }
  
  @media (max-width: 720px) {
    height: function.vw(435, 720);
    margin-bottom: function.vw(14, 720);
  }
  
  @media (max-width: 540px) {
    height: function.vw(350, 540);
    margin-bottom: function.vw(14, 540);
  }
}

.pagination_column{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: function.vw(14, 1920);
  
  @media (max-width: 1440px) {
    gap: function.vw(14, 1440);
  }
  
  @media (max-width: 960px) {
    gap: function.vw(14, 960);
  }
  
  @media (max-width: 720px) {
    gap: function.vw(14, 960);
  }
  
  @media (max-width: 540px) {
    gap: function.vw(14, 540)
  }
  
  @media (max-width: 420px) {
    gap: function.vw(14, 420);
  }
}

.pagination {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: function.vw(25, 1920);

  @media (max-width: 1440px) {
    gap: function.vw(25, 1440);
  }

  @media (max-width: 960px) {
    order: 2;
  }
}
