@use "src/shared/scss/logic/function";
@use "src/shared/scss/logic/mixin";

.workspaceContainer {
	width: 100%;
	background-color: var(--blue-t25);
	border: 2px solid transparent;
	border-radius: 10px;
	transition-property: border, background-color;
	transition-duration: .4s;

	@media (hover: hover) {
		&:hover{
			border: 2px solid var(--blue);
		}
	}

	@media (hover: none) {
		&:active{
			border: 2px solid var(--blue);
		}
	}
}

.workspaceContainer_active {
	@extend .workspaceContainer;
	border: 2px solid var(--blue);

	&.invalid {
		border: 2px solid var(--state-red);
		background-color: var(--state-red-t05);
	}
}

.baseCardContainer{
	width: 100%;
	cursor: pointer;
	overflow: hidden;
	display: flex;
	align-items: stretch;
	gap: function.vw(10, 1920);
	border-radius: 10px;
	transition-duration: 300ms;

	@media (max-width: 1440px) {
		gap: function.vw(10, 1440);
	}

	@media (max-width: 960px) {
		gap: function.vw(10, 960);
	}

	@media (max-width: 720px) {
		gap: function.vw(10, 720);
	}

	@media (max-width: 540px) {
		gap: function.vw(10, 540);
	}
	
	
	@media (max-width: 420px) {
		gap: function.vw(10, 420);
	}
}

.baseCardContainer_active{
	@extend .baseCardContainer;

	img {
		transition-property: border-radius;
		transition-duration: 400ms;
		border-radius: 10px;
	}
}

.additionalItemsContainer {
	max-height: 0;
	overflow: hidden;
	transition-property: max-height;

	&.open {
		transition-duration: 1s;
		transition-property: overflow, max-height;
		max-height: 100vh;
		animation-name: workspaceOpen;
		animation-duration: 1s;
		animation-fill-mode: forwards;
	}

	&.closed {
		overflow: hidden;
		transition-duration: 0.3s;
		transition-property: max-height;
		max-height: 0;

		.calendarModal {
			display: none;
		}
	}
}

@keyframes workspaceOpen {
	0% {
		overflow: hidden;
	}
	100% {
		overflow: unset;
	}
}

.arrowDown {
	margin-top: function.vw(10, 1920);
	margin-inline: auto;
	transform: rotate(90deg);

	width: function.vw(18, 1920);
	@include mixin.mediaWidth(1440px, 18, 1440);
	@include mixin.mediaWidth(960px, 18, 960);
	@include mixin.mediaWidth(720px, 18, 720);
	@include mixin.mediaWidth(540px, 18, 540);
	@include mixin.mediaWidth(420px, 18, 420);

	@include mixin.mediaMT(1440px, 10, 1440);
	@include mixin.mediaMT(960px, 10, 960);
	@include mixin.mediaMT(720px, 10, 720);
	@include mixin.mediaMT(540px, 10, 540);
	@include mixin.mediaMT(420px, 10, 420);
}

.inputsContainer {
	max-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: function.vw(20, 1920) function.vw(24, 1920);

	input {
		background-color: var(--white);
		width: 100%;
	}

	@media (max-width: 1440px) {
		padding: function.vw(10, 1440) function.vw(24, 1440);
	}

	@media (max-width: 960px) {
		padding: function.vw(10, 960) function.vw(24, 960);
	}

	@media (max-width: 720px) {
		padding: function.vw(10, 720) function.vw(24, 720);
	}

	@media (max-width: 540px) {
		padding: function.vw(10, 540) function.vw(24, 540);
	}

	@media (max-width: 420px) {
		padding: function.vw(10, 420) function.vw(24, 420);
	}
}

.text_content{
	width: 75%;
	align-self: center;
	padding: function.vw(10, 1920) function.vw(24, 1920);

	h4 {
		text-transform: uppercase;
		color: var(--black-t50);
		margin-bottom: function.vw(8, 1920);
	}
	
	@media (max-width: 1440px) {
		padding: function.vw(10, 1440) function.vw(24, 1440);

		h4 {
			margin-bottom: function.vw(8, 1440);
		}
	}
	
	@media (max-width: 960px) {
		padding: function.vw(10, 960) function.vw(24, 960);

		h4 {
			margin-bottom: function.vw(8, 960);
		}
	}
	
	@media (max-width: 720px) {
		padding: function.vw(10, 720) function.vw(24, 720);

		h4 {
			margin-bottom: function.vw(8, 720);
		}
	}

	@media (max-width: 540px) {
		padding: function.vw(10, 540) function.vw(24, 540);

		h4 {
			margin-bottom: function.vw(8, 540);
		}
	}
	
	@media (max-width: 420px) {
		padding: function.vw(10, 420) function.vw(24, 420);

		h4 {
			margin-bottom: function.vw(8, 420);
		}
	}


	&__span{
		display: block;
		margin-bottom: function.vw(15, 1920);

		@media (max-width: 1440px) {
			margin-bottom: function.vw(15, 1440);
		}

		@media (max-width: 960px) {
			margin-bottom: function.vw(15, 960);
		}

		@media (max-width: 720px) {
			margin-bottom: function.vw(15, 720);
		}

		@media (max-width: 540px) {
			margin-bottom: function.vw(15, 540);
		}

		@media (max-width: 420px) {
			margin-bottom: function.vw(15, 420);
		}
	}
}

.image{
	position: relative;
	height: function.vw(150, 1920);
	width: function.vw(135, 1920);

	@media (max-width: 1440px) {
		height: function.vw(150, 1440);
		width: function.vw(135, 1440);
	}

	@media (max-width: 960px) {
		height: function.vw(200, 960);
		width: function.vw(175, 960);
	}

	@media (max-width: 720px) {
		display: none;
	}

	& img{
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		object-fit: cover;
		object-position: center;
		transition-duration: 400ms;
	}
}

.send {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: function.vw(24, 1920);

	@media (max-width: 1440px) {
		padding: function.vw(24, 1440);
	}
	
	@media (max-width: 960px) {
		padding: function.vw(24, 960);
	}
	
	@media (max-width: 720px) {
		padding: function.vw(24, 720);
	}
	
	@media (max-width: 540px) {
		padding: function.vw(24, 540);
	}
	
	@media (max-width: 420px) {
		padding: function.vw(24, 420);
	}
}

.calendarModal {
	position: relative;
}