@use "@src/shared/scss/logic/function";

.container {
	display: flex;
	align-items: center;
	margin-block: function.vw(24, 1920);
	gap: function.vw(8, 1920);
	overflow-y: scroll;

	&__svg_continer{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-bottom: 1px;

		svg {
			width: function.vw(14, 1920);
			height: auto;

			@media (max-width: 1440px) {
				width: function.vw(14, 1440);
			}

			@media (max-width: 960px) {
				width: function.vw(14, 960);
			}

			@media (max-width: 720px) {
				width: function.vw(14, 720);
			}

			@media (max-width: 540px) {
				width: function.vw(14, 540);
			}

			@media (max-width: 420px) {
				width: function.vw(14, 420);
			}
		}
	}
	
	@media (max-width: 1440px) {
		margin-block: function.vw(24, 1440);
		gap: function.vw(8, 1440);
	}
	
	@media (max-width: 960px) {
		margin-block: function.vw(24, 960);
		gap: function.vw(8, 960);
	}
	
	@media (max-width: 720px) {
		margin-block: function.vw(24, 720);
		gap: function.vw(8, 720);
	}
	
	@media (max-width: 540px) {
		margin-block: function.vw(24, 540);
		gap: function.vw(8, 540);
	}
	
	@media (max-width: 420px) {
		margin-block: function.vw(24, 420);
		gap: function.vw(6, 420);
	}
}

.button{
	color: #9a9a9a;
	transition: 300ms;

	&.active {
		text-decoration: underline;
	}

	&:hover{
		color: #858585;
	}

	&:active{
		color: var(--gray);
	}
}

.stepContainer {
	display: flex;
	gap: function.vw(8, 1920);
	align-items: center;

	@media (max-width: 1440px) {
		margin-block: function.vw(24, 1440);
		gap: function.vw(8, 1440);
	}

	@media (max-width: 960px) {
		margin-block: function.vw(24, 960);
		gap: function.vw(8, 960);
	}

	@media (max-width: 720px) {
		margin-block: function.vw(24, 720);
		gap: function.vw(8, 720);
	}

	@media (max-width: 540px) {
		margin-block: function.vw(24, 540);
		gap: function.vw(8, 540);
	}

	@media (max-width: 420px) {
		margin-block: function.vw(24, 420);
		gap: function.vw(6, 420);
	}
}