@use "src/shared/scss/logic/function";

.container {
	width: 100%;
	min-height: function.vw(210, 1920);
	display: flex;
	flex-direction: column;
	border-radius: function.vw(5, 1920);
	gap: function.vw(16, 1920);
	box-shadow: 0 0 10px 0 var(--black-t25);
	padding-block: function.vw(21, 1920) function.vw(17, 1920);
	padding-inline: function.vw(18, 1920) function.vw(20, 1920);

	@media (max-width: 1440px) {
		min-height: function.vw(210, 1440);
		border-radius: function.vw(5, 1440);
		gap: function.vw(16, 1440);
		padding-block: function.vw(21, 1440) function.vw(17, 1440);
		padding-inline: function.vw(18, 1440) function.vw(20, 1440);
	}

	@media (max-width: 960px) {
		min-height: function.vw(210, 960);
		border-radius: function.vw(5, 960);
		gap: function.vw(16, 960);
		padding-block: function.vw(21, 960) function.vw(17, 960);
		padding-inline: function.vw(18, 960) function.vw(20, 960);
	}

	@media (max-width: 720px) {
		min-height: function.vw(210, 720);
		border-radius: function.vw(5, 720);
		gap: function.vw(16, 720);
		padding-block: function.vw(21, 720) function.vw(17, 720);
		padding-inline: function.vw(18, 720) function.vw(20, 720);
	}

	@media (max-width: 540px) {
		min-height: function.vw(210, 540);
		border-radius: function.vw(5, 540);
		gap: function.vw(16, 540);
		padding-block: function.vw(21, 540) function.vw(17, 540);
		padding-inline: function.vw(18, 540) function.vw(20, 540);
	}

	@media (max-width: 420px) {
		min-height: function.vw(210, 420);
		border-radius: function.vw(5, 420);
		gap: function.vw(16, 420);
		padding-block: function.vw(21, 420) function.vw(17, 420);
		padding-inline: function.vw(18, 420) function.vw(20, 420);
	}
}

.logoContainer {
	border-radius: function.vw(5, 1920);
	background-color: var(--blue-t50);
	width: max-content;
	padding-block: function.vw(6, 1920);
	padding-inline: function.vw(16, 1920);

	@media (max-width: 1440px) {
		border-radius: function.vw(5, 1440);
		padding-block: function.vw(6, 1440);
		padding-inline: function.vw(16, 1440);
	}

	@media (max-width: 960px) {
		border-radius: function.vw(5, 960);
		padding-block: function.vw(6, 960);
		padding-inline: function.vw(16, 960);
	}

	@media (max-width: 720px) {
		border-radius: function.vw(5, 720);
		padding-block: function.vw(6, 720);
		padding-inline: function.vw(16, 720);
	}

	@media (max-width: 540px) {
		border-radius: function.vw(5, 540);
		padding-block: function.vw(6, 540);
		padding-inline: function.vw(16, 540);
	}

	@media (max-width: 420px) {
		border-radius: function.vw(5, 420);
		padding-block: function.vw(6, 420);
		padding-inline: function.vw(16, 420);
	}

	svg {
		height: function.vw(16, 1920);
	}
}

.content {
	color: var(--black-50);
}