@use "@src/shared/scss/logic/_function.scss";

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: fixed;
	height: 100%;
	width: 100vw;
	background-color: var(--black-t50);
	backdrop-filter: blur(2px);
	z-index: 119;
	top: 0;
	left: function.vw(0, 1920);
	animation-duration: 0.4s;
	animation-fill-mode: forwards;

	&.open {
		display: flex;
		animation-name: modal-appear;
	}

	&.closed {
		display: none;
		animation-name: modal-disappear;
	}
}

@keyframes modal-appear {
	0% {
		display: none;
		opacity: 0;
	}
	100% {
		display: flex;
		opacity: 1;
	}
}

@keyframes modal-disappear {
	0% {
		display: flex;
		opacity: 1;
	}
	100% {
		opacity: 0;
		display: none;
	}
}

.modal {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--white);
	border-radius: 8px;
	height: max-content;
	width: function.vw(600, 1920);
	padding: function.vw(32, 1920);

	@media (max-width: 1440px) {
		padding: function.vw(32, 1440);
		width: function.vw(700, 1440);
	}
	@media (max-width: 960px) {
		padding: function.vw(32, 960);
		width: function.vw(700, 960);
	}
	@media (max-width: 720px) {
		padding: function.vw(32, 720);
		width: function.vw(600, 720);
	}
	@media (max-width: 540px) {
		padding: function.vw(32, 540);
		width: function.vw(540, 540);
	}
	@media (max-width: 420px) {
		padding: function.vw(32, 420);
		width: function.vw(420, 420);
	}
}