@use "@src/shared/scss/logic/function";

.header{
  margin-block: function.vw(160, 1920) function.vw(32, 1920);

  @media (max-width: 1440px) {
    margin-block: function.vw(160, 1440) function.vw(32, 1440);
  }

  @media (max-width: 960px) {
    margin-block: function.vw(160, 960) function.vw(32, 960);
  }

  @media (max-width: 720px) {
    margin-block: function.vw(100, 720) function.vw(32, 720);
  }

  @media (max-width: 540px) {
    margin-block: function.vw(100, 540) function.vw(32, 540);
  }

  @media (max-width: 420px) {
    margin-block: function.vw(100, 420) function.vw(32, 420);
  }
}

.header_wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  @media (max-width: 540px) {
    flex-direction: column;
    align-items: flex-start;
    gap: function.vw(16, 540);
  }

  @media (max-width: 420px) {
    flex-direction: column;
    align-items: flex-start;
    gap: function.vw(16, 420);
  }
}

.header_download{
  display: flex;
  align-items: center;
  gap: function.vw(12, 1920);
  padding: function.vw(8, 1920) function.vw(12, 1920);
  border-radius: 10px;
  background-color: var(--black-t15);
  transition: 300ms;
  
  svg{
    width: 32px;
    height: auto;
  }

  @media (hover: hover) {
    &:hover{
      background-color: var(--black);
      color: var(--white);
    }
  }

  @media (hover: hover) {
    &:active{
      background-color: var(--black);
      color: var(--white);
    }
  }

  &:active{
    background-color: var(--black);
    color: var(--white);
  }

  @media (max-width: 1440px) {
    gap: function.vw(12, 1440);
    padding: function.vw(8, 1440) function.vw(12, 1440);
  }

  @media (max-width: 960px) {
    gap: function.vw(12, 960);
    padding: function.vw(8, 960) function.vw(12, 960);
  }

  @media (max-width: 720px) {
    gap: function.vw(12, 720);
    padding: function.vw(8, 720) function.vw(12, 720);
  }

  @media (max-width: 540px) {
    width: 100%;
    gap: function.vw(12, 540);
    padding: function.vw(8, 540) function.vw(12, 540);
  }

  @media (max-width: 420px) {    
    gap: function.vw(12, 420);
    padding: function.vw(8, 420) function.vw(12, 420);
  }
}