@use "@src/shared/scss/logic/function";


.container__card{
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--black-t25);
  display: flex;
  flex-direction: column;
  gap: function.vw(16, 1920);
  width: 100%;

  @media (max-width: 1440px) {
    gap: function.vw(16, 1440);
  }

  @media (max-width: 960px) {
    gap: function.vw(16, 960);
  }

  @media (max-width: 720px) {
    gap: function.vw(16, 720);
  }

  @media (max-width: 540px) {
    gap: function.vw(16, 540);
  }

  @media (max-width: 420px) {
    gap: function.vw(16, 420);
  }
}

.link{
  color: var(--black);
}

.header{
  text-align: justify;
  margin-bottom: function.vw(24, 1920);
  padding-inline: function.vw(12, 1920);

  &__text{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: function.vw(8, 1920);
  }

  @media (max-width: 1440px) {
    margin-bottom: function.vw(24, 1440);
    padding-inline: function.vw(12, 1440);

    &__text{
      margin-bottom: function.vw(8, 1440);
    }
  }

  @media (max-width: 960px) {
    margin-bottom: function.vw(24, 960);
    padding-inline: function.vw(12, 960);

    &__text{
      margin-bottom: function.vw(8, 960);
    }
  }

  @media (max-width: 720px) {
    margin-bottom: function.vw(24, 720);
    padding-inline: function.vw(12, 720);

    &__text{
      margin-bottom: function.vw(8, 720);
    }
  }

  @media (max-width: 540px) {
    margin-bottom: function.vw(24, 540);
    padding-inline: function.vw(12, 540);

    &__text{
      margin-bottom: function.vw(8, 540);
    }
  }

  @media (max-width: 420px) {
    margin-bottom: function.vw(24, 420);
    padding-inline: function.vw(12, 420);

    &__text{
      margin-bottom: function.vw(8, 420);
    }
  }
}

.status{
  display: inline-block;
  margin-bottom: function.vw(8, 1920);
  padding: 6px 8px;
  border-radius: 5px;
  background-color: var(--state-success);
}


.footer{
  display: flex;
  justify-content: space-between;

  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.333%;
    gap: function.vw(8, 1920);
    margin-bottom: function.vw(16, 1920);
  }

  @media (max-width: 1440px) {
    gap: function.vw(8, 1440);
    margin-bottom: function.vw(16, 1440);
  }

  @media (max-width: 960px) {
    gap: function.vw(8, 960);
    margin-bottom: function.vw(16, 960);
  }

  @media (max-width: 720px) {
    gap: function.vw(8, 720);
    margin-bottom: function.vw(16, 720);
  }

  @media (max-width: 540px) {
    gap: function.vw(8, 540);
  }

  @media (max-width: 420px) {
    gap: function.vw(8, 420);
  }
}

.slide {
  position: relative;
  height: function.vw(350, 1920);
  width: 100%;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  @media (max-width: 1440px) {
    height: function.vw(350, 1440);
  }
  
  @media (max-width: 960px) {
    height: function.vw(350, 960);
  }
  
  @media (max-width: 720px) {
    height: function.vw(350, 720);
  }
  
  @media (max-width: 540px) {
    height: function.vw(350, 540);
  }

  @media (max-width: 420px) {
    height: function.vw(350, 420);
  }
}

:global {
  .swiper-pagination-bullet {
    background-color: var(--white);
    opacity: 0.3;
  }

  .swiper-pagination-bullet-active {
    opacity: 0.7;
    background-color: var(--orange);
  }
}