@use "@src/shared/scss/logic/function";

.container {
  background-color: var(--black);
  padding-block: function.vw(20, 1920);

  @media (max-width: 1440px) {
    padding-block: function.vw(20, 1440);
  }

  @media (max-width: 960px) {
    padding-block: function.vw(20, 960);
  }

  @media (max-width: 720px) {
    padding-block: function.vw(20, 720);
  }

  @media (max-width: 540px) {
    padding-block: function.vw(20, 540);
  }

  @media (max-width: 420px) {
    padding-block: function.vw(20, 420);
  }
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: function.vw(40, 1920);

  h4 {
    color: var(--white);
    width: function.vw(450, 1920);
  }

  p {
    color: var(--white-t50);
  }

  @media (max-width: 1440px) {
    margin-bottom: function.vw(40, 1440);

    h4 {
      width: function.vw(450, 1440);
    }
  }

  @media (max-width: 960px) {
    margin-bottom: function.vw(40, 960);

    h4 {
      width: function.vw(450, 960);
    }
  }

  @media (max-width: 720px) {
    flex-direction: column;
    gap: function.vw(16, 720);
    margin-bottom: function.vw(40, 720);

    h4 {
      width: 100%;
    }
  }

  @media (max-width: 540px) {
    margin-bottom: function.vw(40, 540);
    gap: function.vw(16, 540);
  }

  @media (max-width: 420px) {
    margin-bottom: function.vw(40, 420);
    gap: function.vw(16, 420);
  }
}

.head_text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: function.vw(350, 1920);
  gap: function.vw(16, 1920);

  @media (max-width: 1440px) {
    width: function.vw(350, 1440);
    gap: function.vw(16, 1440);
  }

  @media (max-width: 960px) {
    width: function.vw(350, 960);
    gap: function.vw(16, 960);
  }

  @media (max-width: 720px) {
    align-items: flex-start;
    width: 100%;
    gap: function.vw(8, 720);
  }

  @media (max-width: 540px) {
    gap: function.vw(8, 540);
  }

  @media (max-width: 420px) {
    gap: function.vw(8, 420);
  }
}
