@use "src/shared/scss/logic/function";

.footer_item {
  & h4 {
    margin-bottom: function.vw(20, 1920);
  }

  @media (max-width: 1440px) {
    & h4 {
      margin-bottom: function.vw(20, 1440);
    }
  }
  
  @media (max-width: 960px) {
    & h4 {
      margin-bottom: function.vw(20, 960);
    }
  }
  
  @media (max-width: 720px) {
    & h4 {
      margin-bottom: function.vw(20, 720);
    }
  }
  
  @media (max-width: 540px) {
    & h4 {
      margin-bottom: function.vw(10, 540);
    }
  }
  
  @media (max-width: 420px) {
    & h4 {
      margin-bottom: function.vw(10, 420);
    }
  }
}

.footer_item__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: function.vw(15, 1920);
  
  @media (max-width: 1440px) {
    gap: function.vw(15, 1440);
  }

  @media (max-width: 960px) {
    gap: function.vw(15, 960);
  }
  
  @media (max-width: 720px) {
    gap: function.vw(15, 720);
  }
  
  @media (max-width: 540px) {
    gap: function.vw(15, 540);
  }
  
  @media (max-width: 420px) {
    gap: function.vw(15, 420);
  }
}
