@use "src/shared/scss/logic/function";

.link_container{
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;

	@media (max-width: 960px) {
		display: block;
		height: auto;
		margin-top: function.vw(100, 960);
		margin-bottom: function.vw(30, 960);
	}

	@media (max-width: 720px) {
		margin-top: function.vw(100, 720);
		margin-bottom: function.vw(30, 720);
	}

	@media (max-width: 540px) {
		margin-top: function.vw(100, 540);
		margin-bottom: function.vw(30, 540);
	}

	@media (max-width: 420px) {
		margin-top: function.vw(100, 420);
		margin-bottom: function.vw(30, 420);
	}
}

.link_grid{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: function.vw(24, 1920);

	@media (max-width: 1440px) {
		gap: function.vw(24, 1440);
	}

	@media (max-width: 960px) {
		gap: function.vw(24, 960);
	}

	@media (max-width: 720px) {
		grid-template-columns: 1fr;
		gap: function.vw(24, 720);
	}

	@media (max-width: 540px) {
		gap: function.vw(24, 540);
	}

	@media (max-width: 420px) {
		gap: function.vw(24, 420);
	}
}