@use "src/shared/scss/logic/function";
@use "src/shared/scss/logic/mixin";

.not_found{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__content{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;

		h1{
			color: var(--orange);
		}

		@media (max-width: 1440px) {
			padding-inline: function.vw(20, 1440);
		}

		@media (max-width: 960px) {
			padding-inline: function.vw(20, 960);
		}

		@media (max-width: 720px) {
			padding-inline: function.vw(20, 720);
		}

		@media (max-width: 540px) {
			padding-inline: function.vw(20, 540);
		}

		@media (max-width: 420px) {
			padding-inline: function.vw(20, 420);
		}

		&_404{
			margin-bottom: function.vw(20, 1920);

			@include mixin.mediaMB(1440px, 20, 1440);
			@include mixin.mediaMB(960px, 20, 960);
			@include mixin.mediaMB(720px, 20, 720);
			@include mixin.mediaMB(540px, 15, 540);
			@include mixin.mediaMB(420px, 15, 420);
		}

		&_text{
			margin-top: function.vw(30, 1920);

			@include mixin.mediaMT(1440px, 30, 1440);
			@include mixin.mediaMT(960px, 30, 960);
			@include mixin.mediaMT(720px, 30, 720);
			@include mixin.mediaMT(540px, 20, 540);
			@include mixin.mediaMT(420px, 20, 420);
		}
	}

	&_links{
		margin-top: function.vw(30, 1920);

		@include mixin.mediaMT(1440px, 30, 1440);
		@include mixin.mediaMT(960px, 30, 960);
		@include mixin.mediaMT(720px, 30, 720);
		@include mixin.mediaMT(540px, 20, 540);
		@include mixin.mediaMT(420px, 20, 420);
	}
}